<div class="background" id="grad1">
    <div class="header">
        <div class="container">
            <div class="row center">
                <div class="col-sm-12">Escríbenos, nos pondremos en contacto contigo</div>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="container">
            <div style="max-width: 400px;" class="center">
                <div class="row form">
                    <div class="col-sm-12">
                        <input class="form-control mt-4" type="text" placeholder="Nombre">
                    </div>
                    <div class="col-sm-12 col-md-6 mt-4">
                        <input class="form-control" type="text" placeholder="Correo">
                    </div>
                    <div class="col-sm-12 col-md-6 mt-4">
                        <input class="form-control" type="text" placeholder="Teléfono">
                    </div>
                    <div class="col-sm-12">
                        <textarea class="form-control mt-4 textarea" rows="3" placeholder="Mensaje"></textarea>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-lg btn-dark mt-4" style="width: 200px; color: #fff;">Enviar</button>
                    </div>
                </div>
            </div>
            <div id="dweb">
                <img [src]="'assets/dweb_animated.svg'"> Diseñado por D'web studio
            </div>
        </div>
    </div>
    <div class="footer-izquierda center"></div>
    <div class="footer-centro-uno center" [ngx-scroll-to]="'#inicio'" style="cursor: pointer;">Inicio</div>
    <div class="footer-centro-tres center" [ngx-scroll-to]="'#videos'" style="cursor: pointer;">Videos</div>
    <div class="footer-derecha center"></div>
</div>