<div class="background" id="grad1">
    <div class="header">
        <div class="container">
            <div class="row center">
                <div class="col-sm-12">Escríbenos, nos pondremos en contacto contigo</div>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="container">
            <div style="max-width: 400px;" class="center">
                <div class="row form">
                    <div class="col-sm-12">
                        <input class="form-control mt-4" type="text" (keyup)="onKey($event)" #nombre placeholder="Nombre">
                    </div>
                    <div class="col-sm-12 col-md-6 mt-4">
                        <input class="form-control" type="text" name="correo" #correo placeholder="Correo">
                    </div>
                    <div class="col-sm-12 col-md-6 mt-4">
                        <input class="form-control" type="text" name="telefono" #telefono placeholder="Teléfono">
                    </div>
                    <div class="col-sm-12">
                        <textarea class="form-control mt-4 textarea" rows="3" #mensaje placeholder="Mensaje"></textarea>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-lg btn-dark mt-4" (click)="agregarMensaje(nombre, correo, telefono, mensaje)" style="width: 200px; color: #fff;">Enviar</button>
                    </div>
                </div>
            </div>
            <div *ngIf="isAdmin">
                <ul>
                    <li class="text" *ngFor="let _mensaje of mensajes | async" style="color: #232323;">
                        Mensaje: {{_mensaje.mensaje}}&nbsp;&nbsp;&nbsp;
                        <i class="fa fa-trash" style="color: #232323; cursor: pointer;" (click)="borrarMensaje(_mensaje.id)"></i>
                        &nbsp;&nbsp;
                        <i class="fa fa-eye" style="color: #232323; cursor: pointer;" (click)="openModal(template)" (click)="escogerMensaje(_mensaje)"></i>
                    </li>
                </ul>
            </div>
            <div id="dweb">
                <a href="https://dwebstudio.cl/">
                    <img [src]="'assets/dweb_animated.svg'"> Diseñado por D'web studio
                </a>
            </div>
        </div>
    </div>
    <div class="footer-izquierda center"></div>
    <div class="footer-centro-uno center" [ngx-scroll-to]="'#inicio'" style="cursor: pointer;">Inicio</div>
    <div class="footer-centro-tres center" [ngx-scroll-to]="'#videos'" style="cursor: pointer;">Videos</div>
    <div class="footer-derecha center"></div>
</div>


<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Nombre: {{mensajeSeleccionado.nombre}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Correo: {{mensajeSeleccionado.correo}}
        <br><br>
        Teléfono: {{mensajeSeleccionado.telefono}}
        <br><br>
        Mensaje: {{mensajeSeleccionado.mensaje}}
    </div>
</ng-template>