<div class="background" id="grad1">
  <div class="header">
    <div class="container">
      <div class="row center">
        <div class="col-sm-12">Al tanto de lo que sucede, recibe notificaciones.</div>
      </div>
    </div>
  </div>
  <div class="body">
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          qwe
        </div>
        <div class="col-sm-10">
          asd
        </div>
      </div>
    </div>
  </div>
  <div class="footer-izquierda center"></div>
  <div class="footer-centro-uno center" [ngx-scroll-to]="'#uno'"><img class="btn-bajar" [src]="'/assets/up-arrow.png'"></div>
  <div class="footer-centro-dos center" [ngx-scroll-to]="'#tres'"><img class="btn-bajar" [src]="'/assets/down-arrow.png'"></div>
  <div class="footer-derecha center"></div>
</div>