<ul class="pager">
    <li><a href="#hero" du-smooth-scroll="" duration="1000" class="active"></a></li>
    <li><a href="#get-hired-fast" du-smooth-scroll="" duration="1000" class=""></a></li>
    <li><a href="#fast-and-easy" du-smooth-scroll="" duration="1000" class=""></a></li>
    <li><a href="#unique-profile" du-smooth-scroll="" duration="1000" class=""></a></li>
    <li><a href="#fav-jobs" du-smooth-scroll="" duration="1000" class=""></a></li>
    <li><a href="#download-now" du-smooth-scroll="" duration="1000" class=""></a></li>
  </ul>