<!-- test -->
<div class="navbar">
  <a [ngx-scroll-to]="'#inicio'">Logo</a>
  <a [ngx-scroll-to]="'#contacto'" class="float-right">Contacto</a>
  <div class="btn-group float-right" dropdown>
    <a dropdownToggle class="dropdown">Como funciona?<span class="caret"></span>
    </a>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li><a class="dropdown-item" routerLink="/videos">Login</a></li>
      <li><a class="dropdown-item">Venta</a></li>
    </ul>
  </div>
  <a class="float-right" [ngx-scroll-to]="'#inicio'">Inicio</a>
</div>

<app-inicio id="inicio"></app-inicio>
<app-contacto id="contacto"></app-contacto>