<div class="background" id="grad1">
  <div class="header">
    <div class="container">
      <div class="row center">
        <div class="col-sm-12 title">Moderno, orientado a dispositivo táctil</div>
      </div>
    </div>
  </div>
  <div class="body center">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 desc vertical-center">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
        <div class="col-sm-12 col-md-6 center">
          <img [src]="'assets/manotablet.svg'" class="img">
        </div>
      </div>
    </div>
  </div>
  <div class="footer-izquierda center"></div>
  <div class="footer-centro-uno center" [ngx-scroll-to]="'#inicio'">
    <img class="btn-bajar" [src]="'/assets/up-arrow.png'">
  </div>
  <div class="footer-centro-dos center" [ngx-scroll-to]="'#dos'">
    <img class="btn-bajar" [src]="'/assets/down-arrow.png'">
  </div>
  <div class="footer-derecha center"></div>
</div>