.background {
    height: 100vh;
    color: #ecf0f1;
    padding-top: 60px;
    
    display: grid;    
    grid-template-columns: auto 100px 100px auto;
    grid-template-rows: 100px auto 100px;
    
    grid-gap: 10px;
    background-color: #8e44ad;
    
    padding: 10px;
    grid-template-areas: 'header header header header'
                         'body body body body'
                         'footer-izquierda footer-centro-uno footer-centro-dos footer-derecha'
}

.header { grid-area: header; }
.body { grid-area: body;}
.footer-izquierda { grid-area: footer-izquierda; }
.footer-centro-uno { grid-area: footer-centro-uno; }
.footer-centro-dos { grid-area: footer-centro-dos; }
.footer-derecha { grid-area: footer-derecha; }

.center {
    text-align: center;
    padding: 20px 0;
    margin: auto;
}

.btn-bajar {
    cursor: pointer;
    width: 40px;
}

#grad1 {
    background: linear-gradient(#8e44ad, #773293);
}