<div class="background" id="grad1">
  <div class="header">
    <div class="container">
      <div class="row center">

      </div>
    </div>
  </div>
  <div class="body center">
    <div class="container">
      <div class="row">
        <div class="col-12 center">
          <h4 class="space">REALIZAR VENTA RESTAURANT</h4>
        </div>
        <div class="col-12 center space">
          <h4 class="space">1: Garzón genera pedido</h4>
        </div>
        <br><br>
        <div class="col-12 center">
          <h4 clasS="space">2: Cajero realiza venta del pedido</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-izquierda center"></div>
  <div class="footer-centro-uno center" [ngx-scroll-to]="'#tres'"><img class="btn-bajar" [src]="'/assets/up-arrow.png'"></div>
  <div class="footer-centro-dos center" [ngx-scroll-to]="'#videos'"><img class="btn-bajar" [src]="'/assets/down-arrow.png'"></div>
  <div class="footer-derecha center"></div>
</div>