<div class="background" id="grad1">
  <div class="header">
    <div class="container">
      <div class="row center">
        <div class="col-sm-12 title">Sistema de recetas - Control de stock y materia prima</div>
      </div>
    </div>
  </div>
  <div class="body center">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 center">
          <img [src]="'assets/estadisticas.svg'" class="img">
        </div>
      </div>
    </div>
  </div>
  <div class="footer-izquierda center"></div>
  <div class="footer-centro-uno center" [ngx-scroll-to]="'#dos'">
    <img class="btn-bajar" [src]="'/assets/up-arrow.png'">
  </div>
  <div class="footer-centro-dos center" [ngx-scroll-to]="'#videos'">
    <img class="btn-bajar" [src]="'/assets/down-arrow.png'">
  </div>
  <div class="footer-derecha center"></div>
</div>