$font-stack:    Helvetica, sans-serif;
$amarillo:    #e88f1b;
$blanco:      #f9f9f9;
$fondo:       #f4f6f7;


.bg-amarillo {
    background-color: $amarillo;
    color: $blanco;
}

.fondo {
    background-color: $fondo;
    height: 100vh;
}

::-webkit-scrollbar {
    width: 3px;
    border-radius: 6px;
}
::-webkit-scrollbar-track {
    background: $blanco; 
    border-radius: 6px;
}
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
    border-radius: 6px;
}   

.title {
    font-weight: 500;
    font-size: 24px;
}

.vertical-center {
    padding: 20px 0;
    margin: auto;
}

.img {
    width: 300px;
}

.center {
    text-align: center;
    padding: 20px 0;
    margin: auto;
}