$font-stack:    Helvetica, sans-serif;
$amarillo:    #e88f1b;
$blanco:      #f9f9f9;
$fondo:       #f4f6f7;

.bg-amarillo {
    background-color: $amarillo;
    color: $blanco;
}

.fondo {
    background-color: $fondo;
    height: 100vh;
}

body {
    scrollbar-face-color: #000000;
    scrollbar-shadow-color: #2D2C4D;
    scrollbar-highlight-color:#7D7E94;
    scrollbar-3dlight-color: #7D7E94;
    scrollbar-darkshadow-color: #2D2C4D;
    scrollbar-track-color: #7D7E94;
    scrollbar-arrow-color: #C1C1D1;
}