.background {
    height: 100vh;
    background-color: #fd9644;
    color: #ecf0f1;


    display: grid;    
    grid-template-columns: auto 80px 100px 80px auto;
    grid-template-rows: 30px auto 100px;

    grid-gap: 10px;
    padding: 10px;
    grid-template-areas: 'header header header header header'
                         'body body body body body'
                         'footer-izquierda footer-centro-uno footer-centro-dos footer-centro-tres footer-derecha'
}

.header { grid-area: header; }
.body { grid-area: body;}
.footer-izquierda { grid-area: footer-izquierda; }
.footer-centro-uno { grid-area: footer-centro-uno; }
.footer-centro-dos { grid-area: footer-centro-dos; }
.footer-centro-tres { grid-area: footer-centro-tres; }
.footer-derecha { grid-area: footer-derecha; }

.center {
    text-align: center;
    padding: 20px 0;
    margin: auto;
}

.btn-bajar {
    cursor: pointer;
    width: 40px;
}

#grad1 {
    background: #fd9644;
    background: linear-gradient(#fd9644, #e27616);
}

@media (min-width: 10px) {
    .tablet {
        width: 240px;
    }
    .logo {
        width: 60px;
    }
    .titulo {
        font-weight: bold;
    }
}

@media (min-width: 544px) {
    .tablet {
        width: 440px;        
        margin-left: -70px;
    }
    .logo {
        width: 100px;
    }
    .titulo {
        font-weight: bold;
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    .tablet {
        width: 540px;
        margin-left: -100px;        
    }
    .logo {
        width: 100px;
    }
    .titulo {
        font-weight: bold;
        font-size: 26px;
    }
}

@media (min-width: 868px) {
    .tablet {
        width: 700px;
        margin-left: -130px;
    }
    .titulo {
        font-weight: bold;
        font-size: 30px;
    }
}   