<div class="background" id="grad1">
    <div class="header">
        <div class="container">
            <div class="row center">
                <div class="col-sm-12">
                    <img [src]="'assets/posk_logo.png'" style="width: 80px;">
                </div>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="container">
            <div class="row">
                <div class="col-12 center" >
                    <h4 class="pb-4">Posk es simple, potente y moderno.</h4>
                    <p>No requiere de conexión a internet a pesar de que puedes ver las estadísticas desde casa.</p>
                    <p>¡Y lo adaptamos a tus necesidades para que funcione a medida!</p>
                </div>
                <div class="col-12 center" style="margin-left: -60px;">
                    <img [src]="'/assets/posk_tablet.png'" style="width: 600px;">
                </div>
            </div>
        </div>
    </div>
    <div class="footer-izquierda center"></div>
    <div class="footer-centro-uno center" [ngx-scroll-to]="'#contacto'" style="cursor: pointer; margin-left: 25px;">Contacto</div>
    <div class="footer-centro-dos center" [ngx-scroll-to]="'#uno'" style="margin-left: 40px;"><img class="btn-bajar" [src]="'/assets/down-arrow.png'"></div>
    <div class="footer-centro-tres center" [ngx-scroll-to]="'#videos'" style="cursor: pointer; margin-right: 25px;">Videos</div>
    <div class="footer-derecha center"></div>
</div>